p {
    padding: 10px;
    border-top: 1px solid #bbb;
}
h1 {
    color: #4aaaa5;
    padding-left: 10px;
    padding-top: 20px;
}
h2 {
    color: #4aaaa5;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}
h3{
    background-color: #4aaaa5;
    width: 200px;
    clear: both;
    position: relative;
    top: 240px;
    text-align: center;
}
h4{
    text-align: center;
    background-color: #4aaaa5;
    width: 200px;
    clear: both;
    position: relative;
    top: -40px;
}
h5{
    text-align: center;
    background-color: #4aaaa5;
    width: 200px;
    clear: both;
    position: relative;
    top: 240px;
}

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    list-style: none;
    font-size: 18px;
    float: right;
    border-right:1px solid #bbb;
}

.seth {
    position: relative;
    left: 100px;
    top: -15px;
}


li a {
    display: inline block;
    color: #777;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
header {
    font-size: 26px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    background-color:  #4aaaa5
}
img {
    width: 40px;
    height: 40px;
}
#Nav{
    height: 30px;
    margin: 0;
    padding: 14px 16px;
    background-color: white;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
    margin: 0 auto 0 auto;
}
#container {
    width: 80%;
    margin: 0 auto 0 auto;
}
#connect{
    margin-top: 60px;
    background-color: white;
    padding: 0 auto 0 auto;
    width: 270px;
    height: 110px;
    float: right;
}
#contact{
    float: left;
    line-height: 150%;
    color: #777;
    width: 650px;
    background-color: white;
    margin-top: 60px;
    padding-left: 30px;
}

#links {
    margin: auto;
    width:270px;
    padding: 0px;
    text-align: center;
}
#about {
    float: left;
    line-height: 150%;
    color: #777;
    width: 650px;
    background-color: white;
    margin-top: 60px;
}
#form {
    float: left;
  
}
#me {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
}
#input {
    border-top: 1px solid #bbb;
}
.name {
    width: 90%;
    height: 20px;
}
.email {
    width: 90%;
    height: 20px;
}
.msg {
    text-align: top;
    width: 90%;
    height: 100px;
}
.button{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#Portfolio{
    float: left;
    line-height: 150%;
    color: #777;
    width: 650px;
    background-color: white;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;

}
#port{
    color:white;

    border-top: 1px solid #bbb;

}
.portimg{
    height:200px;
    width: 200px;
}
#rpg{
    
    float: right;
    position: relative;
    top: -340px;

}
#hangman{
    width: 200px;
    float: left
    padding-right:10px;
}
#trivia{
    top: -100px;
    position: relative;
    float: left;
}
#rut{
    position: relative;
    top: -350px;
    left: 450px;
    float: right
    padding-left: 10px;
}
#rock {
    position: relative;
    top: -380px;
}

footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 10px;
}
a {
    text-decoration: none;
}









